body{
    background-image: url("loginBack.jpg");
    background-size: 100%;
}

#textbox{
    width: 50%;
    margin-left: 25%;
    background-color: rgba(0, 0, 0, 0.781);
    border-radius: 16px;
}
#textbox input{
    width: 87%;
    padding: 1%;
    margin: 5%;
    border-radius: 8px;
    border: none;
    margin-top: 2%;
    font-size: 2rem;
}
.text{
    color: white;
    font-size: 3rem;
    text-align: center;
    padding-top: 3%;
}

.topBut{
    float: right;
    font-size: 1.2rem;
    text-decoration: none;
    margin: 5%;
    padding: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    color: black;
    background-color: white;
    border-radius: 8px;
}